

body{
    background-image : url(../image/fondecran.jpg);
}
#lien a button{
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}
#lien button{
    border-radius: 40px;
    width:250px;
    height: 50px;
}
#lien{
    text-align: center;
    font-size:1.6em;
    
}
.container0{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
.resultat{
    display: flex;
    justify-content: space-evenly;
    margin-top: -5em;
}
.container4 img{
    width: 80px;
}
.container1 img{
    width: 160px;
}
.container2 img {
    cursor: pointer;
  }
#diable1, #diable2, #diable3{
    width: 150px;
    visibility: hidden;
}
#ange1, #ange2, #ange3{
    visibility: hidden;
}
.affichResultat, .affichResultat2, .affichResultat3 {
    display: flex;
    justify-content: center;
    color: white;
}
.card{
    margin-bottom: 1em;
    margin-right: 1em;
}

#resultAnge, #resultDiable{
    font-size: 50px;
    color: white;
}
#pierreUser:hover{
    box-shadow: 10px 5px 5px teal;
}
#papierUser:hover{
    box-shadow: 10px 5px 5px teal;
}
#ciseauxUser:hover{
    box-shadow: 10px 5px 5px teal;
}.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}
    #lien a button{
        font-size: 1em;
        color: white;
        text-decoration: none;
    }
    /* .portfolio{
        font-size: 2em;
        border:none;
        text-decoration:none;
        color:#fff;
        width:400px;
        height: 35px;
        background:transparent;
        border-radius: 20px;
        box-shadow: 0 0 0 0 rgb(75,107,171);
        animation:battement 2s infinite cubic-bezier(.66,0,0,1);
        display: inline-block;
        background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    } */
    .portfolio2{
        font-size: 2em;
        border:none;
        text-decoration:none;
        color:#fff;
        width:400px;
        height: 35px;
        background:transparent;
        border-radius: 20px;
        box-shadow: 0 0 0 0 rgb(75,107,171);
        animation:battement 2s infinite cubic-bezier(.66,0,0,1);
        display: inline-block;
        background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .portfolio{
        font-size: 2em;
        border:none;
        text-decoration:none;
        color:#fff;
        width:400px;
        height: 35px;
        background:transparent;
        border-radius: 20px;
        box-shadow: 0 0 0 0 rgb(75,107,171);
        animation:battement 2s infinite cubic-bezier(.66,0,0,1);
        display: inline-block;
        background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
    .tp{
        display: inline-block;
        background: linear-gradient(to left,rgb(54, 54, 221), rgb(42, 218, 218) );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    

@media (min-width:768px) and (max-width:991px){
    body{
        background-image : url(../image/fondecran.jpg);
    }
    #lien button a{
        font-size: 1.3em;
        text-decoration: none;
    }
    #lien button{
        border-radius: 40px;
        width:200px;
    }
    #lien{
        text-align: center;
    }
    .container0{
        margin-left: 3em;
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
    }
    .resultat{
        margin-top: -2em;
        display: flex;
        justify-content: space-evenly;
        margin-top: -5em;
    }
    
    .container1 img{
        width: 120px;
    }
    #ange1, #ange2, #ange3{
        visibility: hidden;
    }
    #diable1, #diable2, #diable3{
        visibility: hidden;
    }
    .container4 img{
        width: 60px;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2em;
    }
    #lien a button{
        font-size: 1em;
        color: white;
        text-decoration: none;
    }

    .portfolio{
        font-size: 2em;
        border:none;
        text-decoration:none;
        color:#fff;
        width:400px;
        height: 35px;
        background:transparent;
        border-radius: 20px;
        animation:battement 2s infinite cubic-bezier(.66,0,0,1);
        box-shadow: 0 0 0 0 rgb(75,107,171);
        display: inline-block;
        background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
    .portfolio2{
        font-size: 2em;
        border:none;
        text-decoration:none;
        color:#fff;
        width:400px;
        height: 35px;
        background:transparent;
        border-radius: 20px;
        box-shadow: 0 0 0 0 rgb(75,107,171);
        animation:battement 2s infinite cubic-bezier(.66,0,0,1);
        display: inline-block;
        background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }

}
@media (min-width:501px) and (max-width:767px){
    body{
        background-image : url(../image/fondecran.jpg);
    }  
    #lien button a{
        font-size: 1.3em;
        text-decoration: none;
    }
    #lien button{
        border-radius: 40px;
        width:200px;
    }
    #lien{
        margin-top: 1em;
        text-align: center;
    }  
.container0{
    margin-left: 3em;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}
.resultat{
    margin-top: -4em;
    display: flex;
    justify-content: space-evenly;
}
.container1 img{
    width: 100px;
}
#ange1, #ange2, #ange3{
    visibility: hidden;
}
#diable1, #diable2, #diable3{
    visibility: hidden;
}
.container4 img{
    width: 50px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}
#lien a button{
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.portfolio{
    font-size: 2em;
    border:none;
    text-decoration:none;
    color:#fff;
    width:400px;
    height: 35px;
    background:transparent;
    border-radius: 20px;
    animation:battement 2s infinite cubic-bezier(.66,0,0,1);
    box-shadow: 0 0 0 0 rgb(75,107,171);
    display: inline-block;
    background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.portfolio2{
    font-size: 2em;
    border:none;
    text-decoration:none;
    color:#fff;
    width:400px;
    height: 35px;
    background:transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 0 rgb(75,107,171);
    animation:battement 2s infinite cubic-bezier(.66,0,0,1);
    display: inline-block;
    background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

}
@media  (max-width:500px){
    body{
        background-image : url(../image/fondecran.jpg);
    }
    #lien a button{
        font-size: 1.3em;
        text-decoration: none;
    }
    #lien button{
        border-radius: 40px;
        width:200px;
    }
    #lien{
        margin-top: 1em;
        text-align: center;
    }  
        .container0{
        margin-left: 1em;
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }
    .resultat{
        margin-top: -1em;
        display: flex;
        justify-content: space-around;
    }
    
    #lien a button{
        font-size: 1em;
        color: white;
        text-decoration: none;
    }
    #ange1, #ange2, #ange3{
        display: none;
    }
    #diable1, #diable2, #diable3{
        display: none;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2em;
    }
    
    .portfolio{
        font-size: 2em;
        border:none;
        text-decoration:none;
        color:#fff;
        width:400px;
        height: 35px;
        background:transparent;
        border-radius: 20px;
        animation:battement 2s infinite cubic-bezier(.66,0,0,1);
        box-shadow: 0 0 0 0 rgb(75,107,171);
        display: inline-block;
        background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
    .portfolio2{
        font-size: 2em;
        border:none;
        text-decoration:none;
        color:#fff;
        width:400px;
        height: 35px;
        background:transparent;
        border-radius: 20px;
        box-shadow: 0 0 0 0 rgb(75,107,171);
        animation:battement 2s infinite cubic-bezier(.66,0,0,1);
        display: inline-block;
        background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }

}


@keyframes battement {
    to{
        box-shadow: 0 0 0 30px rgba(255,71,84,0);
      }
}