

body{
    background-image : url(../image/fondecran.jpg);
}
#lien button a{
    font-size: 1.3em;
    color: white;
}
#lien button{
    border-radius: 40px;
    width:140px;
}
#lien{
    margin-top: 0em;
    text-align: center;
}
.container0{
    display: flex;
    justify-content: space-evenly;
}
.resultat{
    margin-top: -4em;
    display: flex;
    justify-content: space-evenly;
}
.container4 img{
    width: 80px;
}
.container1 img{
    width: 160px;
}
.container2 img {
    cursor: pointer;
  }
#diable1, #diable2, #diable3{
    width: 150px;
    visibility: hidden;
}
#ange1, #ange2, #ange3{
    margin-top: 0em;
    visibility: hidden;
}
.affichResultat, .affichResultat2, .affichResultat3 {
    display: flex;
    justify-content: center;
    color: white;
}
.card{
    margin-bottom: 1em;
    margin-right: 1em;
}

#resultAnge, #resultDiable{
    font-size: 50px;
    color: white;
}
@media (min-width:768px) and (max-width:991px){
    body{
        background-image : url(../image/fondecran.jpg);
    }
    #lien button a{
        font-size: 1.3em;
    }
    #lien button{
        border-radius: 40px;
        width:140px;
    }
    #lien{
        margin-top: 0em;
        text-align: center;
    }
    .container0{
        margin-left: 3em;
        display: flex;
        justify-content: space-evenly;
    }
    .resultat{
        margin-top: -2em;
        display: flex;
        justify-content: space-evenly;
    }
    
    .container1 img{
        width: 120px;
    }
    #ange1, #ange2, #ange3{
        margin-top: 1em;
        margin-bottom: 3em;
        visibility: hidden;
    }
    #diable1, #diable2, #diable3{
        margin-bottom: 3.5em;
        visibility: hidden;
    }
    .container4 img{
        width: 60px;
    }
    }
@media (min-width:501px) and (max-width:767px){
    body{
        background-image : url(../image/fondecran.jpg);
    }  
    #lien button a{
        font-size: 1.3em;
    }
    #lien button{
        border-radius: 40px;
        width:140px;
    }
    #lien{
        margin-top: -0.5em;
        text-align: center;
    }  
.container0{
    margin-left: 3em;
    display: flex;
    justify-content: space-evenly;
}
.resultat{
    margin-top: -4em;
    display: flex;
    justify-content: space-evenly;
}
.container1 img{
    width: 100px;
}
#ange1, #ange2, #ange3{
    margin-top: 1em;
    margin-bottom: 5em;
    visibility: hidden;
}
#diable1, #diable2, #diable3{
    margin-top: 1em;
    margin-bottom: 5em;
    visibility: hidden;
}
.container4 img{
    width: 50px;
}
}
@media  (max-width:500px){
    body{
        background-image : url(../image/fondecran.jpg);
    }
    #lien button a{
        font-size: 1.3em;
    }
    #lien button{
        border-radius: 40px;
        width:140px;
    }
    #lien{
        margin-top: -0.5em;
        text-align: center;
    }  
        .container0{
        margin-top: 1em;
        margin-left: 1em;
        display: flex;
        justify-content: center;
    }
    .resultat{
        margin-top: -1em;
        display: flex;
        justify-content: space-around;
    }
    
    #ange1, #ange2, #ange3{
        display: none;
    }
    #diable1, #diable2, #diable3{
        display: none;
    }

    #pierreUser:hover{
        box-shadow: 10px 5px 5px teal;
    }
    #papierUser:hover{
        box-shadow: 10px 5px 5px teal;
    }
    #ciseauxUser:hover{
        box-shadow: 10px 5px 5px teal;
    }


}