@media (min-width:1200px){

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,p,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    #titre{
        text-align: center;
        width: 100%;
    }
    header{
        display: flex;
        justify-content:space-between;
        color : white;
    }
    .cache{
        display: none;
    }
    body{
        background-image : url(../image/fondecran.jpg);
    }
    .realisation01, .realisation02, .realisation03, .realisation04, .realisation05 {
        display: block;
        display: flex;
        justify-content: center;
        text-align: justify;
        width: 100%;
        margin-top: 2em;
    }
    a{
        color:white;
        text-decoration: none;
    }
    h2{
        margin-top: 1em;
        font-size: 50px;
    }

    .contact{
        margin-top: 2em;
        display: flex;
        justify-content: space-around
    }
    .contact0 img, .contact3 img{
        width: 50px;
        height: 50px;
    }
    .group1, .group2{
        display: flex;
    }

    .parentLien{
        display: flex;
        justify-content: space-around;
        margin-bottom: 2em;
    }
    #lien1{
        text-align: center;
    }
    #lien2{
        text-align: center;
    }
    #lien1 button a, #lien2 button a{
        font-size: 1.3em;
        border-radius: 40px;
    }
    .positionnement{
        margin-left: -62em;
        font-style: italic;
        text-decoration: underline;
    }
}
@media (min-width:992px) and (max-width:1199px){

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* ------------------------------------------------------------------------------- */
    #titre{
        text-align: center;
        width: 100%;
    }
    header{
        display: flex;
        justify-content:space-between;
        color : white;
    }
    .cache{
        display: block;
    }
    body,.bg{
        background-image : url(../image/fondecran.jpg);
    }
    p{
        color: white;
    }
    .click{
        color: white;
        text-align: center;
    }
    .centre{   
        width: 100%;
        text-align: center;
        font-size: 1.3em;
    }

    .realisation01, .realisation02, .realisation03, .realisation04, .realisation05 {
        display: none;
    }
    a{
        color:white;
        text-decoration: none;
    }
    h2{
        margin-top: 1em;
        font-size: 50px;
    }
    .contact{
        margin-top: 2em;
        display: flex;
        justify-content: space-around
    }
    .contact0 img, .contact3 img{
        width: 50px;
        height: 50px;
    }
    .group1, .group2{
        display: flex;
    }
    .parentLien{
        display: flex;
        justify-content: space-around;
        font-size: 2em;
    }
    #lien1{
        text-align: center;
    }
    #lien2{
        text-align: center;
    }
    #lien1 button a, #lien2 button a{
        font-size: 1.3em;
    }
}
@media (min-width:768px) and (max-width:991px){

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* ------------------------------------------------------------------------------- */
    #titre{
        text-align: center;
        width: 100%;
    }
    header{
        display: flex;
        justify-content:space-between;
        color : white;
    }
    .cache{
        display: block;
    }
    body,.bg{
        background-image : url(../image/fondecran.jpg);
    }
    p{
        color: white;
    }
    .click{
        color: white;
        text-align: center;
    }
    .centre{   
        width: 100%;
        text-align: center;
        font-size: 1.3em;
    }

    .realisation01, .realisation02, .realisation03, .realisation04, .realisation05 {
        display: none;
    }
    a{
        color:white;
        text-decoration: none;
    }
    h2{
        font-size:40px;
        margin-top: 1em;
    }
    .contact{
        margin-top: 2em;
        display: flex;
        justify-content: space-around
    }
    .contact0 img, .contact3 img{
        width: 50px;
        height: 50px;
    }
    .group1, .group2{
        display: flex;
    }
    .parentLien{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }
    #lien1 button a{
        text-align: center;
        font-size: 1.3em;
    }
    #lien2 button a{
        text-align: center;
        
        font-size: 1.3em;
    }
}
@media (min-width:501px) and (max-width:767px){

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* ------------------------------------------------------------------------------- */
    
    #titre{
        text-align: center;
        width: 100%;
    }
    header{
        flex-direction: column;
        align-items: center;
        color : rgb(255, 255, 255);
    }
    #photo{
        text-align: center;
    }
    a{
        color:white;
        text-decoration: none;
    }
    h2{
        font-size:35px;
    }

    body,.bg{
        background-image : url(../image/fondecran.jpg);
    }
    p{
        color: white;
    }
    .click{
        color: white;
        text-align: center;
    }
    .centre{   
        width: 100%;
        text-align: center;
        font-size: 1.3em;
    }

    .realisation01, .realisation02, .realisation03, .realisation04, .realisation05 {
        display: none;
    }
    .cache{
        margin-top: 3em;
    }
    .contact{
        margin-top: 2em;
        display: flex;
        justify-content: space-around
    }
    .contact0 img, .contact3 img{
        width: 50px;
        height: 50px;
    }
    .group1, .group2{
        display: flex;
    }
    .parentLien{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }
    #lien1 button a{
        text-align: center;
        font-size: 1.3em;
    }
    #lien2 button a{
        text-align: center;
        font-size: 1.3em;
    }
}
@media (max-width:500px){

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* ---------------------------------------------------------------- */
    .mgtp{
        margin-top: 3em;
    }
    #titre{
        text-align: center;
        width: 100%;
    }
    header{
        flex-direction: column;
        align-items: center;
        color : rgb(255, 255, 255);
    }
    #photo{
        text-align: center;
    }
    a{
        color:white;
        text-decoration: none;
        font-size: 1em;
    }
    h2{
        font-size:35px;
    }
    body,.bg{
        background-image : url(../image/fondecran.jpg);
    }
    .click{
        color: white;
        text-align: center;
    }
    .centre{   
        width: 100%;
        color: white;
        text-align: center;
        font-size: 1.3em;
    }
    .realisation01, .realisation02, .realisation03, .realisation04, .realisation05 {
        display: none;
    }
    .cache{
        margin-top: 3em;
    }
    .contact{
        margin-top: 2em;
        display: flex;
        justify-content: space-around
    }
    .contact0 img, .contact3 img{
        width: 50px;
        height: 50px;
    }
    .group1, .group2{
        display: flex;
    }
    .parentLien{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
        text-align: center;
    }
    #lien1 button a{
        text-align: center;
        font-size: 1.3em;
    }
    #lien2 button a{ 
        text-align: center;
        font-size: 1.3em;
    }
}
.text{
    color: white;
    font-size: 1.3em;
    width: 75%;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.text:hover{
    background: rgba(145, 171, 227, 0.874);
    color:black;
}

.italik{
    font-style: italic;
}
#lien1 button, #lien2 button{
    border-radius: 40px;
    width:140px;
}
.spaces{
    margin-top: 0.5em;
}