@media (min-width:1200px)  {

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------------------------------------------------------------------- */

.reseau1{
    margin-left: 50px;
}

.centree{
    display: flex;
    justify-content:center;
}

.contact{
    width: 80%;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.contact .group1 .contact1 a, .contact .group2 .contact2 a{
    font-size: 1.6em; /* Ajustez la taille selon vos besoins */
}

.contact0, .contact3{
    display: block;
}

.contact0 img, .contact3 img{
    width: 50px;
    height: 50px;
}
.group1, .group2{
    text-align: center;
}

.hidden, .hidden1{
    display: none;
   }
#titre{
    text-align: center;
    margin-top: 3em;
}
header{
    display: flex;
    justify-content: space-between;
    color : white;
}
section{
    display: flex;
    justify-content:space-between;
    text-align: center; 
}
#partie1{
    width: 100%;
    display: flex;
}
#icons{
    margin-top: 5em;
}
#icons img{
    width: 45px;
    height: 40px;
}
#icons{
    display: flex;
    justify-content: space-around;
}
.souligne a{
    text-decoration: underline;
}
#competences{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    width: 32%;
    color : white;    
}
#competences:hover {
    background: rgba(145, 171, 227, 0.874);
    color:black;
}
#formationsLanguesHobbies{
    width: 32%;
}
#formations{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
}
#formations:hover {
    background: rgba(145, 171, 227, 0.874);
    color:black;
}
#savoiretre:hover {
    background: rgba(145, 171, 227, 0.874);
    color:black;
}
#langues{
    margin-top: 1em;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
}
#langues:hover {
    background: rgba(145, 171, 227, 0.874);
    color:black;
}
#langues img{
    width: 35px;
    height: 35px;
}
#bilingue{
    display: flex;
    justify-content:space-evenly;
}
.imgLang2{
    margin-bottom: 0.5em;
}
.lang1{
    font-size: 1.3em;
}
.lang2{
    font-size: 1.3em;
}

#hobbies{
    margin-top: 1em;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
}
#hobbies:hover {
    background: rgba(145, 171, 227, 0.874);
    color:black;
}
#experiences{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    width: 32%;
    color : white;
}
#experiences:hover {
    background: rgba(145, 171, 227, 0.874);
    color:black;
}
#listhobbies{
    display: flex;
    justify-content:space-around;
}
#listhobbies{
    margin-bottom: 0.5em;
    font-size: 1.3em;
}
ul{
    list-style: none;
}
#liexperiences{
    padding-bottom: 0.75em;
}
#licompetences{
    padding-bottom: 0.6em;
    font-size: 1.3em;
}
h5{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h4{
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
h3{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size:2em;
}

h2{
    font-size:50px;
}
h1{
    color:rgb(234, 163, 76);
    font-size: 2em;
}
body{
    background-image : url(../image/fondecran.jpg);
}


a{
    color:white;
    text-decoration:none;
}
.parentLien{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    text-align: center;
}

#lien1 button a, #lien2 button a{
    font-size: 1.3em;
}
#lien1 button, #lien2 button{
    border-radius: 40px;
    width:160px;
    text-align: center;
}

.contact1 a button,  .contact2 a button{
    color:rgb(234, 163, 76);
    font-size: 1em;
  }

#lien1{
    text-align: center;
}
#lien2{
    text-align: center;
}
#cv{
    width: 100%;
    display: flex;
    justify-content: center;
}

#savoiretre{
    margin-top: 1em;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
    width: 100%;
    font-size: 1em;
}
#listsavoiretre1{
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;;
}

.accordion2{
    display:none;
}
.hidden2{
    display: block;
}

}
@media (min-width:992px) and (max-width:1199px){
    
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------------------- */
.contact0, .contact3{
    display: block;
}
.centree{
    display: flex;
    justify-content:center;
}

.contact{
    width: 80%;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}
.contact0 img, .contact3 img{
    width: 50px;
    height: 50px;
}
.group1, .group2{
    text-align: center;
}
p{
    font-size: 1.5em;
}
p{
    font-size: 1.5em;
}
.cliker{
    font-size: 1.5em;
 color: rgb(55, 174, 178);   
}


.card{
    width: 100%;
    text-align: center;
}
.fs{
    font-size: 0.6em;
}
.df{
    display: flex;
    justify-content: center;
}

#CorpsDuCv2{
    display:none;
}
.hidden, .hidden1{
    display: block;
}

.bgPerso{
    background-image : url(../image/fondecran.jpg);
    color: white;
    text-align: center;
}
.competence{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    width: 100%;
    color : white;  
    text-align: center;
}
.formation{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
    margin-top: 1em;
    text-align: center;
}
.langue{
    margin-top: 1em;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
    text-align: center;
}
.hobbie{
    margin-top: 1em;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
    text-align: center;
}
.experience{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    width: 100%;
    color : white;
    margin-top: 1em;
    text-align: center;
}
#titre{
    text-align: center;
    margin-top: 3em;
}
    header{
        display: flex;
        color : white;
        justify-content: space-between;
    }
    a{
        color:white;
        text-decoration: none;
    }


   
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        text-align: center;
    }
    #icons{
        margin-top: 1em;
    }
    #icons img{
        width: 45px;
        height: 40px;
    }
    #icons{
        display: flex;
        justify-content: space-around;
    }
    #competences{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 48%;
        color : white;    
    }
    #competences:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #formationsLanguesHobbies{
        display: none;
        width: 48%;
    }
    #formations{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 35% 3%;
        color : white;
    }
    #formations:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #langues{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
    }
    #langues:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #langues img{
        width: 35px;
        height: 35px;
    }
    #bilingue{
        display: flex;
        justify-content:space-evenly;
    }
    .imgLang2{
        margin-bottom: 0.5em;
    }
    .lang2{
        font-size: 1.3em;
    }
    .lang1{
        font-size: 1.3em;
    }
    .souligne a{
        text-decoration: underline;
    }
    
    
    #hobbies{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
    }
    #hobbies:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #listhobbies{
        margin-bottom: 0.5em;
        font-size: 1.3em;
    }
    #experiences{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;
        margin-top: 1em;
    }
    #experiences:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #listhobbies{
        display: flex;
        justify-content:space-around;
    }
    
    ul{
        list-style: none;
    }
    li{
        padding-bottom: 0.5em;
    }
    #liexperiences{
        padding-bottom: 4em;
    }
    #licompetences{
        padding-bottom: 0.6em;
        font-size: 1.3em;
    }
    h5, li h5{
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    h4{
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }
    h3{
        padding-top: 1em;
        padding-bottom: 2em;
        font-size:2em;
    }
    h2{
        font-size:50px;
    }
    h1{
        font-size: 2em;
        color:rgb(234, 163, 76);
    }
    body{
        background-image : url(../image/fondecran.jpg);
    }
    
    .parentLien{
        display: flex;
        justify-content: space-around;
        margin-bottom: 2em;
    }
    #lien1{
        text-align: center;
    }
    #lien2{
        text-align: center;
    }
    #lien1 a, #lien2  a{
        font-size: 1em;
    }
    #lien1 button, #lien2 button{
        border-radius: 40px;
        width:160px;
        text-align: center;
    }
    #adresse{
        margin-top: 1em;
        margin-left: 1em;
    }
    #cv{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contact1 a button,  .contact2 a button{
        color:rgb(234, 163, 76);
        font-size: 1.3em;
      }
    
    .swiper{
        display:none;
    }
    .accordion-itemBis h2{
        font-size: 1.8em;
        border-top: 1px solid #ccc; 
        border-bottom: 1px solid #ccc;
    }
    
    .accordion{
        margin-top: 10em;
    }



}
@media (min-width:768px) and (max-width:991px){
    
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
   /* --------------------------------- */
   .contact0, .contact3{
    display: block;
}
.centree{
    display: flex;
    justify-content:center;
}

.contact{
    width: 80%;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}
.contact0 img, .contact3 img{
    width: 50px;
    height: 50px;
}
.group1, .group2{
    text-align: center;
}




.mtaccordion{
    margin-top: 6em;
   }
.card{
    width: 100%;
    text-align: center;
}
.fs{
    font-size: 0.6em;
}
.df{
    display: flex;
    justify-content: center;
}
#CorpsDuCv2{
    display:none;
}
.hidden, .hidden1{
    display: block;
}

.bgPerso{
    background-image : url(../image/fondecran.jpg);
    color: white;
    text-align: center;
}
#titre{
    text-align: center;
    margin-top: 3em;
}
    header{
        display: flex;
        justify-content: space-between;
        color : white;
    }
    section{
        display: block;
        flex-wrap: wrap;
        justify-content:space-between;
        text-align: center;
        
    }
  
    #icons{
        margin-top: 1em;
    }
    #icons img{
        width: 45px;
        height: 40px;
    }
    #icons{
        display: flex;
        justify-content: space-around;
    }
    #competences{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;
    }
    .competence{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;  
        text-align: center;
    }
    #competences:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #formationsLanguesHobbies{
        display: none;
        width: 100%;
    }
    #formations{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 35% 3%;
        color : white;
        margin-top: 1em;
    }
    .formation{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
        margin-top: 1em;
        text-align: center;
    }
    #formations:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #langues{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
    }
    .langue{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
        text-align: center;
    }
    #langues:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #langues img{
        width: 35px;
        height: 35px;
    }
    #bilingue{
        display: flex;
        justify-content:space-evenly;
    }
    .imgLang2{
        margin-bottom: 0.5em;
    }
    .lang1{
        font-size: 1.3em;
    }
    .lang2{
        font-size: 1.3em;
    }
    .souligne a{
        text-decoration: underline;
    }
    
    
    #hobbies{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
    }
    .hobbie{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
        text-align: center;
    }
    #hobbies:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #cv{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
#listhobbies{
    margin-bottom: 0.5em;
    font-size: 1.3em;
}
    #experiences{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;
        margin-top: 1em;
    }
    .experience{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;
        margin-top: 1em;
        text-align: center;
    }
    #experiences:hover {
        background: rgba(145, 171, 227, 0.874);
        color:black;
    }
    #listhobbies{
        display: flex;
        justify-content:space-around;
    }
    
    ul{
        list-style: none;
    }
    li{
        padding-bottom: 0.5em;
    }
    #liexperiences{
        padding-bottom: 4em;
    }
    #licompetences{
        padding-bottom: 0.6em;
        font-size: 1.3em;
    }
    h5, li h5{
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    h4{
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }
    h3{
        padding-top: 1em;
        padding-bottom: 2em;
        font-size:2em;
    }
    h2{
        font-size:40px;
    }
    h1{
        font-size: 2em;
        color:rgb(234, 163, 76);
    }
    body{
        background-image : url(../image/fondecran.jpg);
    }
    Header #titre h3{
        text-decoration:none;
    }
    a{
        color:white;
        text-decoration:none;
    }
    .parentLien{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }
    #lien1 a{
        text-align: center;
        font-size: 1em;
    }
    #lien2 a{
        text-align: center;
        font-size: 1.3em;
    }
    #lien1 button, #lien2 button{
        border-radius: 40px;
        width:160px;
        text-align: center;
    }
    #adresse{
        margin-top: 1em;
        margin-left: 1em;
    }
    .contact1 a button,  .contact2 a button{
        color:rgb(234, 163, 76);
        font-size: 1.3em;
      }
   
    .swiper{
        display:none;
    }
    p{
        font-size: 1.5em;
    }
    .cliker{
        font-size: 1.5em;
     color: rgb(55, 174, 178);   
    }
    .accordion-itemBis h2{
        font-size: 1.8em;
        border-top: 1px solid #ccc; 
        border-bottom: 1px solid #ccc;
    }
    .accordion{
        margin-top: 10em;
    }


}
@media (min-width:501px) and (max-width:767px){
    
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.souligne a{
    text-decoration: underline;
}
/* ----------------------------------------------------------------------------- */
.contact1, .contact2{
    display: none;
}
.centree{
    display: flex;
    justify-content:center;
}

.contact{
    width: 80%;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}
.contact0 img, .contact3 img{
    width: 50px;
    height: 50px;
}

.group1, .group2{
    text-align: center;
}




.mtaccordion{
    margin-top: 6em;
   }
.card{
    width: 100%;
    text-align: center;
}
.fs{
    font-size: 0.6em;
}
.df{
    display: flex;
    justify-content: center;
}
#CorpsDuCv2{
    display:none;
}
.hidden, .hidden1{
    display: block;
}
.ancre{
    display: none;
}
.bgPerso{
    background-image : url(../image/fondecran.jpg);
    color: white;
    text-align: center;
}
.competence{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    width: 100%;
    color : white;  
    text-align: center;
}

.formation{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
    margin-top: 1em;
    text-align: center;
}
.langue{
    margin-top: 1em;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
    text-align: center;
}
.hobbie{
    margin-top: 1em;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    color : white;
    text-align: center;
}
.experience{
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    width: 100%;
    color : white;
    margin-top: 1em;
    text-align: center;
}    
#titre{
        text-align: center;
    }
    header{
        flex-direction: column;
        align-items: center;
        color : white;
        text-align: center;
    }
    section{
        display: block;
        flex-wrap: wrap;
        justify-content:space-between;
        text-align: center;
        
    }
  
    #icons{
        margin-top: 5em;
        margin-bottom: 2em;
    }
    #icons img{
        width: 45px;
        height: 40px;
    }
    #icons{
        display: flex;
        justify-content: space-around;
    }
    #competences{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;    
    }   
    #formationsLanguesHobbies{
        display: none;
        width: 100%;
    }
    #formations{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 35% 3%;
        color : white;
        margin-top: 1em;
    }
    #langues{
        display: none;
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
    }
    #langues img{
        width: 35px;
        height: 35px;
    }
    #bilingue{
        display: flex;
        justify-content:space-evenly;
    }
    .imgLang2{
        margin-bottom: 0.5em;
    }
    .lang1{
        font-size: 1.3em;
    }
    .lang2{
        font-size: 1.3em;
    }
    #hobbies{
        display: none;
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
    }
    #listhobbies{
    margin-bottom: 0.5em;
    font-size: 1.3em;
    }
    #experiences{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;
        margin-top: 1em;
    }
    #listhobbies{
        display: flex;
        justify-content:space-around;
    }
    ul{
        list-style: none;
    }
    li{
        padding-bottom: 0.5em;
    }
    #liexperiences{
        padding-bottom: 4em;
    }
    #licompetences{
        padding-bottom: 0.6em;
        font-size: 1.3em;
    }
    h5, li h5{
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
h4{
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
h3{
    padding-top: 1em;
    padding-bottom: 2em;
    font-size:2em;
}
h2{
    font-size:35px;
}
h1{
    color:rgb(234, 163, 76);
    font-size: 2em;
}
    #adresse{
        margin-top: 1em;
        margin-left: 1em;
        text-align: center;
    }
    body{
        background-image : url(../image/fondecran.jpg);
    }
    Header #titre h3{
        text-decoration:none;
    }
    a{
        color:white;
        text-decoration:none;
    }
    .parentLien{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }
    #lien1 a{
        text-align: center;
        font-size: 1em;
    }
    #lien2 a{
        text-align: center;
        font-size: 1.3em;
    }
    #lien1 button, #lien2 button{
        border-radius: 40px;
        width:160px;
        text-align: center;
    }
    
    .swiper{
        display:none;
    }

    p{
        font-size: 1.5em;
    }
    .cliker{
        font-size: 1.5em;
     color: rgb(55, 174, 178);   
    }
    .accordion-itemBis h2{
        font-size: 1.8em;
        border-top: 1px solid #ccc; 
        border-bottom: 1px solid #ccc;
    }
    .accordion{
        margin-top: 10em;
    }


}
@media (max-width:500px){

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* ------------------------------------------------------------------------------ */
    .contact0, .contact3{
        display: block;
    }
    .contact1, .contact2{
        display: none;
    }
    .centree{
        display: flex;
        justify-content:center;
    }
    
    .contact{
        width: 80%;
        margin-top: 2em;
        display: flex;
        justify-content: space-around;
    }
    .contact0 img, .contact3 img{
        width: 50px;
        height: 50px;
    }
    .group1, .group2{
        text-align: center;
    }
    



    
    .mtaccordion{
        margin-top: 4em;
       }
    .card{
        width: 100%;
        text-align: center;
    }
    .fs{
        font-size: 0.6em;
    }
    .df{
        display: flex;
        justify-content: center;
    }
    #CorpsDuCv2{
        display:none;
    }
    .hidden, .hidden1{
        display: block;
    }
    .ancre{
        display: none;
    }
    .bgPerso{
        background-image : url(../image/fondecran.jpg);
        color: white;
        text-align: center;
    }
    .competence{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;  
        text-align: center;
    }
    .formation{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
        margin-top: 1em;
        text-align: center;
    }
    .langue{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
        text-align: center;
    }
    .hobbie{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
        text-align: center;
    }
    .experience{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;
        margin-top: 1em;
        text-align: center;
    }
    #titre{
        text-align: center;
    }

    header{
        text-align: center;
        color : white;
    }
    section{
        display: none;
        flex-wrap: wrap;
        justify-content:space-between;
        text-align: center;
        
    }
    .souligne a{
        text-decoration: underline;
    }
    #icons{
        margin-top: 5em;
        margin-bottom: 2em;
    }
    #icons img{
        width: 45px;
        height: 40px;
    }
    #icons{
        display: flex;
        justify-content: space-around;
    }
    #competences{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;    
    }

    #formationsLanguesHobbies{
        display: none;
        width: 100%;
    }
    #formations{
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 35% 3%;
        color : white;
        margin-top: 1em;
    }
    
    #langues{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
    }
    
    #langues img{
        width: 35px;
        height: 35px;
    }
    #bilingue{
        display: flex;
        justify-content:space-evenly;
    }
    .imgLang2{
        margin-bottom: 0.5em;
    }
    .lang1{
        font-size: 1.3em;
    }
    .lang2{
        font-size: 1.3em;
    }
    #hobbies{
        margin-top: 1em;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        color : white;
    }
    
    #listhobbies{
        margin-bottom: 0.5em;
        font-size: 1.3em;
    }
    #experiences{
        display: none;
        background-color: rgba(26, 37, 61, 0.6);
        border: 1mm ridge rgba(75, 107, 175, 0.6);
        border-radius: 1em;
        width: 100%;
        color : white;
        margin-top: 1em;
    }
    #listhobbies{
        display: flex;
        justify-content:space-around;
    }
    
    ul{
        list-style: none;
    }
    li{
        padding-bottom: 0.5em;
    }
    #liexperiences{
        padding-bottom: 4em;
    }
    #licompetences{
        padding-bottom: 0.6em;
        font-size: 1.3em;
    }
    h5, li h5{
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    h4{
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }
    h3{
        padding-top: 1em;
        padding-bottom: 2em;
        font-size:2em;
    }
    h2{
        font-size:35px;
    }
  
    #adresse{
        margin-top: 1em;
        margin-left: 1em;
    }
    body{
        background-image : url(../image/fondecran.jpg);
    }
    Header #titre h3{
        text-decoration:none;
    }
    a{
        color:white;
        text-decoration:none;
    }
    .parentLien{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }
    #lien1 a{
        text-align: center;
        font-size: 1em;
    }
    #lien2 a{
        text-align: center;
        font-size: 1.3em;
    }
    #lien1 button, #lien2 button{
        border-radius: 40px;
        width:160px;
        text-align: center;
    }

    
    .swiper{
        display:none;
    }
    p{
        font-size: 1.5em;
    }
    .cliker{
        font-size: 1.5em;
     color: rgb(55, 174, 178);   
    }
    .accordion-itemBis h2{
        font-size: 1.8em;
        border-top: 1px solid #ccc; 
        border-bottom: 1px solid #ccc;
    }
    .accordion{
        margin-top: 10em;
    }

  } 








 
   
.portfolio{
    font-size: 1.6em;
    border:none;
    text-decoration:none;
    color:#fff;
    width:400px;
    background:transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 0 rgb(75,107,171);
    animation:battement 2s infinite cubic-bezier(.66,0,0,1);


    display: inline-block;
    background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes battement {
    to{
        box-shadow: 0 0 0 30px rgba(255,71,84,0);
      }
}

.mail, .phone{
    border:none;
}

h1,h2,h3,h4,h5,a,p{
        font-family: 'Calibri';
        color:white;
    }
    h1{
        color:rgb(234, 163, 76);
        font-size: 2em;
    }
.blabla{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align:justify;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 1em;
    width: 80%;
    color : white; 
    font-size: 1.3em;
}

.blabla:hover {
    background: rgba(145, 171, 227, 0.874);
    color:black;
}

.LM{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.contact0 img,.contact3 img{
    width: 60px;
    height: 60px;
}
.tp{
    display: inline-block;
    background: linear-gradient(to left,rgb(54, 54, 221), rgb(42, 218, 218) );
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}











  


body .hidden2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 4em;
  margin-bottom: 2em;
}

.swiper {
  width: 100%;
  height: 50%;
  padding: 50px 20px;
  overflow: visible;
}

.swiper .parallax-bg {
  /* position: absolute; */
  right: -5%;
  top: -20-50%;
  width: 200%;
  height: 50%;
}

.swiper .swiper-wrapper {
  align-items: center;
}

.swiper .swiper-slide {
  /* position: relative; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(102, 102, 102, 0.8);
  border-radius: 7px;
  padding: 10px;
  margin: 0;
  cursor: grab;
  user-select: none;
  text-wrap: pretty;
  background-color: rgba(26, 37, 61, 0.6);
}

.swiper .swiper-slide::before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border-bottom: 1px dashed white;
  border-right: 1px solid white;
  border-radius: 0 0 7px 0;
  content: "";
  transition: all 0.3s ease;
}

.swiper .swiper-slide::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-top: 1px solid white;
  border-left: 1px dashed white;
  border-radius: 7px 0 0 0;
  content: "";
  transition: all 0.3s ease;
}

.swiper .swiper-slide:hover {
  background: rgba(145, 171, 227, 0.874);
}

.swiper .swiper-slide:hover::before,
.swiper .swiper-slide:hover::after {
  width: 170px;
  height: 170px;
  transition: all 0.3s ease;
}

.swiper .swiper-slide .cardPopout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper .swiper-slide img {
  width: 80%;
  height: auto;
  margin-bottom: 25px;
  border-radius: 5px;
}

.swiper .swiper-slide h2 {
  font-size: 150%;
  line-height: 110%;
  margin: 0 0 7px 0;
  color: white;
  font-family: "Nabla", system-ui;
  font-variation-settings: "EDPT" 100, "EHLT" 24;
  background-color: #111;
  border-radius: 100%;
}

.swiper .swiper-slide h4 {
  font-size: 70%;
  line-height: 120%;
  font-weight: 700;
  margin: 0 0 13px 0;
  color: #bbb;
  font-style: italic;
}

.swiper .swiper-slide figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  padding-left: 20px;
  border-left: 1px solid white;
  font-size:80%;

}

.swiper .swiper-slide figcaption p {
  color: #999;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper .swiper-slide a {
    font-size:1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: all 0.6s ease !important;
}

.swiper .swiper-slide a:hover {
  color: black;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a::after {
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(145, 171, 227, 0.874);
  content: "";
  z-index: -1;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a:hover::after {
  right: 0;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a svg {
  width: 23px;
  height: auto;
  fill: white;
  margin-left: 5px;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a:hover svg {
  margin-left: 10px;
  fill: black;
  transition: all 0.6s ease;
}

.swiper .swiper-scrollbar {
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 10px;
}

@media (max-height: 550px) {
  .swiper .swiper-slide figcaption p {
    -webkit-line-clamp: 2;
  }
}

@media (max-height: 490px) {
  .swiper .swiper-slide figcaption p {
    -webkit-line-clamp: 1;
  }
}

@media (max-height: 460px) {
  .swiper .swiper-slide figcaption p {
    display: none;
  }
  .swiper .swiper-slide h4 {
    margin: 0;
  }
}

@media (max-height: 430px) {
  .swiper .swiper-wrapper {
    position: relative;
    bottom: 6px;
  }
}

@media (max-width: 750px) {
  .swiper .parallax-bg {
    width: 320%;
  }
}

.swiper-wrapper{
    display: flex;
}
#lien3 button, #lien4 button{
    border-radius: 40px;
    width:160px;
    text-align: center;
}
.parentLien2{

    /* margin-top: 9em; */
    padding-top: 2em;
    text-align: center;
  }
  .parentLien3{
    
    text-align: center;
  }
  .parentLien4{
    margin-top: -4em;
    text-align: center;
  }
  .accordion2{
    margin-top: 2em;
    margin-bottom: 5em;
}
.espace{
   margin-bottom: 0.5em;
}
.btn:hover{
    background-color: rgb(230, 145, 17);
    color:black;
}