body {
    background-image : url(../image/fondecran.jpg);
    position:relative;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column; 
    color:aqua;
}

h1 {
    margin-bottom: 20px; 
    color:aqua;
}

.button-container {
    flex-direction: column; 
    text-align: center;
}

.button {
    display: block;
    width: 200px; 
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}
.button:hover{
    filter: brightness(1.75);
}



/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(113, 6, 6, 0.5);
}

.modal-content {
    background-color: #fefefe;
    /* margin: 20% auto; */
    color: white;
    padding: 50px;
    border: 1px solid #888;
    width: 1000px;
}

.close {
    color: #aaa;
    float: right;text-align: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    
    cursor: pointer;
}
/* Styles pour le modal regles du jeu*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    overflow: auto;  
}

/* Styles pour le modal inscription*/

#signupForm {
    
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-image: url(../image/fondecran.jpg);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#signupForm h2 {
    text-align: center;
}

#signupForm label {
    display: block;
    margin-bottom: 5px;
}

#signupForm input[type="text"],
#signupForm input[type="email"],
#signupForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#signupForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-image: url(../image/fondecran.jpg);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#signupForm button[type="submit"]:hover {
    background-color: #32628b;
}

#signupForm button[type="button"],.login button[type="button"] {
    width: 100%;
    padding: 10px;
    background-image: url(../image/fondecran.jpg);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


#signupForm button[type="button"]:hover {
    background-image: url(../image/fondecran.jpg);
}


#signupForm {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-image: url(../image/fondecran.jpg);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#signupForm h2 {
    text-align: center;
}

#signupForm label {
    display: block;
    margin-bottom: 5px;
}

#signupForm input[type="text"],
#signupForm input[type="email"],
#signupForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#signupForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-image: url(../image/fondecran.jpg);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#signupForm button[type="submit"]:hover {
    background-color: #1f588a;
}

.azerty{
    display: flex;
    justify-content: space-between;
}

#eye, #eye2, #eye3{
    padding-top: 1em;
    padding-left: 0.5em;
    cursor: pointer;
    width: 30px;
    height: 35px;
}

#submit:hover, #closeBtn:hover, #loginBtn1:hover, #closeBtnLogin:hover{
    filter: brightness(1.75);
}


#loginForm {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    padding: 20px;
    background-image: url(../image/fondecran.jpg);
    border-radius: 5px;
}

.login button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-image: url(../image/fondecran.jpg);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login button[type="button"] {
    width: 100%;
    padding: 10px;
    background-image: url(../image/fondecran.jpg);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}










































.btn{
    border:none;
    color: aqua;
}
.btn:hover{
    color: aqua;
 }
 
 .btn {
     margin-left: 10px; /* Ajouter un espace entre les boutons */
 }
.trois{
    text-align: right;
     height: 50px;
     width: 25%;
}
.deux{
    text-align: center;
}
#une{
    color: aqua;
    width: 25%;
    text-align: left;
}
.contenaire0{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#signupBtn:active{
    border: 1px solid aqua;
    color: aqua;
}
#loginBtn:active{
    border: 1px solid aqua;
    color: aqua;
}
.modal-content table td.aqua {
    color: rgb(255, 255, 255);
}

#crownForm .modal-body {
    text-align: center; /* Centrer le contenu du modal */
}

#players-table th{
    color: white;
}


#usernameSignup,#email, #password, #confirmPassword{
    background-image: url(../image/fondecran.jpg);
}

/* Styles pour centrer verticalement la modal d'information */
#infoModal .modal {
    display: flex;
    align-items: center;
}

#infoModal .modal-dialog {
    margin: auto;
}

#infoModal .modal-content {
    width: 100%;
    max-width: 600px;
    color: white;
}



.signUp {
    position: absolute;
}
/* ------------------------------------------------------------- */

.azerty{
    display: flex;
    justify-content: space-between;
}

#eye{
    padding-top: 1em;
    padding-left: 0.5em;
    cursor: pointer;
    width: 30px;
    height: 35px;
}

#submit:hover, #closeBtn:hover, #loginBtn1:hover, #closeBtnLogin:hover{
    filter: brightness(1.75);
    color: white;
}

.aze{
    position: absolute;
    background-image: url(../image/fondecran.jpg);
    color: white;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
#players-table th:nth-child(5),
#players-table td:nth-child(5) {
    width: 250px; /* Largeur fixe pour la colonne "ACTION" */
    color: white;
}

/* Styles pour les boutons de fermeture des modales */
.aze.btn-close {
    color: white;
}
#fin{
    color: white;
}

.aze:hover{
    color:green;
}

/* Styles pour le modal */
#editPlayerModal .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(213, 32, 32, 0);
    color: white;
}

#editPlayerModal .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    color: white;
}

#editPlayerModal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    background-image: url(../image/fondecran.jpg);
    color: white;
}

#editPlayerModal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: white;
}

#editPlayerModal .modal-body {
    padding: 20px 0;
    color: white;
}

#editPlayerModal .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: white;
}

#editPlayerModal .modal-title {
    color: white;
    margin: 0;
}

#editPlayerModal .modal-body input[type="text"],
#editPlayerModal .modal-body input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white;
}

#editPlayerModal .modal-footer .btn {
    padding: 8px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#editPlayerModal .modal-footer .btn:hover {
    background-color: #0056b3;
    color:white;
}
.piedModal{
    text-align: right;
    color: white;
}
/* Autres règles CSS existantes ... */
.titre{
    margin-top: 1.6em;
    margin-bottom: 1em;
    text-decoration: underline;    
    font-weight: bold;
    font-size: 1.6em;
}
.texte{
    font-size: 1.5em;
}
#bienvenue{
    color: white;
    font-size: 2em;
}


.modal-content{
    text-align: center; /* Centrer le contenu du modal */
    background-image: url(../image/fondecran.jpg);
    color: white;
}


.modal-header, .modal-footer{
    color: white;
}
#crownForm{
    width: 100%;
    height: 100%;
}
#crownForm .modal-dialog {

    width: 100%;
    height: 100%;
    margin: 0;
}

#crownForm .modal-content {
    height: 100%;
    border-radius: 25%;
}

#crownForm .modal-body {
    overflow-y: auto;
}

#shut{
    color: white;
}
#rules{
   color: white;
   text-align: left;
}
.fermerinfo{
    text-align: center;
    margin-top: 2em;
}

.mbody{
    height: 800px;
}