.solitaire {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image :  url('../public/image/background.jpg');
    align-items: center;
    z-index:99999;
  }


.conteneurZA{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}


#score{
    color: aqua;    
    padding-top: 1em;
    font-size: 1.3em;
}

.plateau {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(7, 50px);
    gap: 2px;
}

.cellule {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cellule.null {
    background-color: #ffffff00;
}

.cellule.null:hover {
    background-color: #ffffff00;
    cursor: pointer;
}

.cellule.pion {
    background-color:rgba(0, 255, 255, 0.674);
    border-radius: 50%;
    cursor: pointer;
}

.cellule.pion:hover {
    border: 2px solid rgb(15, 131, 220);
}

.cellule.pion:active {
    background-color: rgb(15, 131, 220);
    border: 2px solid aqua;
    transform: scale(0.9); 
}
.cellule.selectionnee {
    background-color: rgb(15, 131, 220, 0.674);
    border: 2px solid aqua;
    transform: scale(0.9); 
}


.cellule.vide {
    background-color: #ffffff00;
    border: 1px solid aqua;
}

.cellule.vide:hover {
    border: 2px solid aqua;
}

.portfolio3D{
    font-size: 1.6em;
    border:none;
    text-decoration:none;
    color:#fff;
    width:200px;
    height: 42PX;
    background:transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 0 rgb(75,107,171);
    animation:battement 2s infinite cubic-bezier(.66,0,0,1);
    display: inline-block;
    background: linear-gradient(to Top,rgb(54, 54, 221), rgb(234, 163, 76) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes battement {
    to{
        box-shadow: 0 0 0 30px rgba(255,71,84,0);
      }
}
.lesBoutons10{
    display: flex;
    justify-content: space-around;
}
.lesBoutons10 #lien a .bouton, .validation .bouton {
    border-radius: 40px;
    width: 175px;
    color: white;
}

.tpU{
    font-size: 1.6em;
    width: 280px;
    height: 40px;
    display: inline-block;
    background: linear-gradient(to left,rgb(54, 54, 221), rgb(42, 218, 218) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 40px;
}
@media (min-width:501px){

    .conteneur1{
        display: flex;
        justify-content: center;
       
    }
    }
@media (max-width:500px){

    .lesBoutons10 {
        margin-top: 1em;
        text-align: center;
        flex-wrap: wrap;
    }

    .conteneur1{
        text-align: center;
    }



}

.cellule.null:hover {
    background-color: #ffffff00;
    cursor:default;
}

Style du modal
/* Style du bouton de fermeture */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
} 

.footer{
    margin-top: 3em;
}

img{
    width: 40px;
    ;

}

.contenaire2{
    text-align: center;
    color: aqua;
    font-size: 1.6em;
}
.modaleHelp {
    width: 100%;
    height: 100%;
    background-image: url(../public/image/background.jpg);
    color: white;
    font-size: 1.2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
}
.modale-contenus{
    width: 80%;
}
  .texte{
    padding-top: 1em;
    text-align : center;
    line-height: 2em;
    width: 100%;
  }
  .infos{
    margin-top: 5em;
  }
.btnX{
    background: none;
    margin-top: -1em;
}